In [4]:
#pip install pymongo

In [5]:
# mongodb connection api

import pymongo

client = pymongo.MongoClient("mongodb+srv://ramamanoharkamarsa:ramamanoharkamarsa@cluster0.gwmztlf.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
client

MongoClient(host=['ac-sk5vfxw-shard-00-02.gwmztlf.mongodb.net:27017', 'ac-sk5vfxw-shard-00-01.gwmztlf.mongodb.net:27017', 'ac-sk5vfxw-shard-00-00.gwmztlf.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-1irb1h-shard-0', tls=True)

In [9]:
# create a database
# here instead of tables, we create collections
# inside collectons, we store documents


# establish a connection

client = pymongo.MongoClient("mongodb+srv://ramamanoharkamarsa:ramamanoharkamarsa@cluster0.gwmztlf.mongodb.net/?retryWrites=true&w=majority")

In [10]:
# create a database
db  = client['pwskills']

In [11]:
# create a collection equivalent to table in SQL

coll_create = db['my_record']

In [13]:
# create a document ot JSON
data = {'name' : 'ram',
        'class' : 'datascience masters',
        'timing' : 'flexi'
}


# insert the document into the collection

coll_create.insert_one(data)

In [14]:
data1 = {'maild_id' : 'ram@gmail.com',
         'phone_one' : 2325641241
}

coll_create.insert_one(data1)

In [15]:
data2 = {'list_courses' : ['datascience masters', 'python', 'web dev', 'java with DSA'],
         'mentor' : ['ram', 'manohar']
        }

coll_create.insert_one(data2)

In [16]:
# inserting mutiple documents into a collection

data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

coll_create.insert_many(data3)

In [18]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

coll_create.insert_one(data4)

In [19]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

coll_create.insert_many(list_of_records)

In [20]:
# to see the documents stored in collection

for i in coll_create.find():
    print(i)

{'_id': ObjectId('6405de1b6e88ae2f239d8516'), 'name': 'ram', 'class': 'datascience masters', 'timing': 'flexi'}
{'_id': ObjectId('6405deb96e88ae2f239d8517'), 'name': 'ram', 'class': 'datascience masters', 'timing': 'flexi'}
{'_id': ObjectId('6405df136e88ae2f239d8518'), 'maild_id': 'ram@gmail.com', 'phone_one': 2325641241}
{'_id': ObjectId('6405dfb26e88ae2f239d8519'), 'list_courses': ['datascience masters', 'python', 'web dev', 'java with DSA'], 'mentor': ['ram', 'manohar']}
{'_id': ObjectId('6405e05f6e88ae2f239d851a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6405e05f6e88ae2f239d851b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6405e05f6e88ae2f239d851c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6405e05f6e88ae2f239d851d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6405e05f6e88ae2f239d851e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6405e05f6e88ae2f239d851f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6405e05f6e88ae2f239d8520'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6405e05f6e88ae2f239d8521'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6405e05f6e88ae2f239d8522'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6405e05f6e88ae2f239d8523'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6405e05f6e88ae2f239d8524'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6405e05f6e88ae2f239d8525'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6405e0ba6e88ae2f239d8526'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6405e1096e88ae2f239d8527'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6405e1096e88ae2f239d8528'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6405e1096e88ae2f239d8529'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [21]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

coll_create.insert_many(random_data)

In [22]:
# to fetch all documents

for i in coll_create.find():
    print(i)

{'_id': ObjectId('6405de1b6e88ae2f239d8516'), 'name': 'ram', 'class': 'datascience masters', 'timing': 'flexi'}
{'_id': ObjectId('6405deb96e88ae2f239d8517'), 'name': 'ram', 'class': 'datascience masters', 'timing': 'flexi'}
{'_id': ObjectId('6405df136e88ae2f239d8518'), 'maild_id': 'ram@gmail.com', 'phone_one': 2325641241}
{'_id': ObjectId('6405dfb26e88ae2f239d8519'), 'list_courses': ['datascience masters', 'python', 'web dev', 'java with DSA'], 'mentor': ['ram', 'manohar']}
{'_id': ObjectId('6405e05f6e88ae2f239d851a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6405e05f6e88ae2f239d851b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6405e05f6e88ae2f239d851c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6405e05f6e88ae2f239d851d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6405e05f6e88ae2f239d851e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6405e05f6e88ae2f239d851f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6405e05f6e88ae2f239d8520'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6405e05f6e88ae2f239d8521'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6405e05f6e88ae2f239d8522'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6405e05f6e88ae2f239d8523'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6405e05f6e88ae2f239d8524'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6405e05f6e88ae2f239d8525'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6405e0ba6e88ae2f239d8526'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6405e1096e88ae2f239d8527'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6405e1096e88ae2f239d8528'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6405e1096e88ae2f239d8529'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [23]:
# to fetch one document

coll_create.find_one()

{'_id': ObjectId('6405de1b6e88ae2f239d8516'),
 'name': 'ram',
 'class': 'datascience masters',
 'timing': 'flexi'}

In [24]:
# to fetch documents based on a conditions

for i in coll_create.find({'companyName': 'iNeuron' }):
    print(i)

{'_id': ObjectId('6405e1096e88ae2f239d8527'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6405e1096e88ae2f239d8528'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6405e1096e88ae2f239d8529'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [26]:
# to fetch the documents where _id is greater than 4

for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [29]:
# to update the documents in a collection

coll_create.update_many({'companyName' : 'iNeuron'}, {'$set' : {'companyName' : 'pwskills'}})

In [30]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6405de1b6e88ae2f239d8516'), 'name': 'ram', 'class': 'datascience masters', 'timing': 'flexi'}
{'_id': ObjectId('6405deb96e88ae2f239d8517'), 'name': 'ram', 'class': 'datascience masters', 'timing': 'flexi'}
{'_id': ObjectId('6405df136e88ae2f239d8518'), 'maild_id': 'ram@gmail.com', 'phone_one': 2325641241}
{'_id': ObjectId('6405dfb26e88ae2f239d8519'), 'list_courses': ['datascience masters', 'python', 'web dev', 'java with DSA'], 'mentor': ['ram', 'manohar']}
{'_id': ObjectId('6405e05f6e88ae2f239d851a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6405e05f6e88ae2f239d851b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6405e05f6e88ae2f239d851c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6405e05f6e88ae2f239d851d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6405e05f6e88ae2f239d851e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6405e05f6e88ae2f239d851f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6405e05f6e88ae2f239d8520'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6405e05f6e88ae2f239d8521'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6405e05f6e88ae2f239d8522'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6405e05f6e88ae2f239d8523'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6405e05f6e88ae2f239d8524'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6405e05f6e88ae2f239d8525'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6405e0ba6e88ae2f239d8526'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6405e1096e88ae2f239d8527'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6405e1096e88ae2f239d8528'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6405e1096e88ae2f239d8529'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

In [31]:
# to drop the collection

coll_create.drop()

In [32]:
coll_create.collection()

TypeError: 'Collection' object is not callable. If you meant to call the 'collection' method on a 'Collection' object it is failing because no such method exists.